body {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    background: #f3f3f4;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #343a40;
    font-family: "Poppins", sans-serif;
}

.card {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f1f5f7;
    border-radius: 0.4rem;
}

.page-link {
    color: #fff;
    background-color: #0f172a;
    border-radius: 15px;
    margin: 3px;
}

.page-item:first-child .page-link {
    border-radius: 10px;
}
.page-item:last-child .page-link {
    border-radius: 10px;
}

.page-link.active,
.active > .page-link {
    color: #fff;
    background-color: #1e3670;
    border-color: #1e3670;
}

.btn-primary {
    border-color : #4839EB !important;
    background-color : #7367F0 !important;
    color : #FFFFFF;
  }
  .btn-primary:hover {
    border-color : #5E50EE !important;
    color : #FFFFFF !important;
    box-shadow : 0 8px 25px -8px #7367F0;
  }
  .btn-primary:focus, .btn-primary:active {
    color : #FFFFFF !important;
  }
  
  .btn-flat-primary {
    background-color : transparent;
    color : #7367F0;
  }
  .btn-flat-primary:hover {
    color : #7367F0;
    background-color : rgba(115, 103, 240, 0.1);
  }
  .btn-flat-primary:active, .btn-flat-primary:focus {
    background-color : #7367F0;
    color : #FFFFFF !important;
  }
  
  .btn-relief-primary {
    background-color : #7367F0;
    box-shadow : inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
    color : #FFFFFF;
  }
  .btn-relief-primary:hover {
    color : #FFFFFF;
  }
  .btn-relief-primary:active, .btn-relief-primary:focus {
    outline : none;
    -webkit-transform : translateY(3px);
        -ms-transform : translateY(3px);
            transform : translateY(3px);
  }
  
  .btn-outline-primary {
    border : 1px solid #7367F0;
    background-color : transparent;
    color : #7367F0;
  }
  .btn-outline-primary:hover {
    background-color : rgba(115, 103, 240, 0.08);
    color : #7367F0;
  }
  .btn-outline-primary:active {
    color : #FFFFFF !important;
  }

  .btn-danger {
    border-color : #E42728 !important;
    background-color : #EA5455 !important;
    color : #FFFFFF;
  }
  .btn-danger:hover {
    border-color : #E73D3E !important;
    color : #FFFFFF !important;
    box-shadow : 0 8px 25px -8px #EA5455;
  }
  .btn-danger:focus, .btn-danger:active {
    color : #FFFFFF !important;
  }
  
  .btn-flat-danger {
    background-color : transparent;
    color : #EA5455;
  }
  .btn-flat-danger:hover {
    color : #EA5455;
    background-color : rgba(234, 84, 85, 0.1);
  }
  .btn-flat-danger:active, .btn-flat-danger:focus {
    background-color : #EA5455;
    color : #FFFFFF !important;
  }
  
  .btn-relief-danger {
    background-color : #EA5455;
    box-shadow : inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
    color : #FFFFFF;
  }
  .btn-relief-danger:hover {
    color : #FFFFFF;
  }
  .btn-relief-danger:active, .btn-relief-danger:focus {
    outline : none;
    -webkit-transform : translateY(3px);
        -ms-transform : translateY(3px);
            transform : translateY(3px);
  }
  
  .btn-outline-danger {
    border : 1px solid #EA5455;
    background-color : transparent;
    color : #EA5455;
  }
  .btn-outline-danger:hover {
    background-color : rgba(234, 84, 85, 0.08);
    color : #EA5455;
  }
  .btn-outline-danger:active {
    color : #FFFFFF !important;
  }

  
.btn-success {
    border-color : #1F9D57 !important;
    background-color : #28C76F !important;
    color : #FFFFFF;
  }
  .btn-success:hover {
    border-color : #24B263 !important;
    color : #FFFFFF !important;
    box-shadow : 0 8px 25px -8px #28C76F;
  }
  .btn-success:focus, .btn-success:active {
    color : #FFFFFF !important;
  }
  
  .btn-flat-success {
    background-color : transparent;
    color : #28C76F;
  }
  .btn-flat-success:hover {
    color : #28C76F;
    background-color : rgba(40, 199, 111, 0.1);
  }
  .btn-flat-success:active, .btn-flat-success:focus {
    background-color : #28C76F;
    color : #FFFFFF !important;
  }
  
  .btn-relief-success {
    background-color : #28C76F;
    box-shadow : inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
    color : #FFFFFF;
  }
  .btn-relief-success:hover {
    color : #FFFFFF;
  }
  .btn-relief-success:active, .btn-relief-success:focus {
    outline : none;
    -webkit-transform : translateY(3px);
        -ms-transform : translateY(3px);
            transform : translateY(3px);
  }
  
  .btn-outline-success {
    border : 1px solid #28C76F;
    background-color : transparent;
    color : #28C76F;
  }
  .btn-outline-success:hover {
    background-color : rgba(40, 199, 111, 0.08);
    color : #28C76F;
  }
  .btn-outline-success:active {
    color : #FFFFFF !important;
  }

  
.btn-warning {
    border-color : #FF8510 !important;
    background-color : #FF9F43 !important;
    color : #FFFFFF;
  }
  .btn-warning:hover {
    border-color : #FF922A !important;
    color : #FFFFFF !important;
    box-shadow : 0 8px 25px -8px #FF9F43;
  }
  .btn-warning:focus, .btn-warning:active {
    color : #FFFFFF !important;
  }
  
  .btn-flat-warning {
    background-color : transparent;
    color : #FF9F43;
  }
  .btn-flat-warning:hover {
    color : #FF9F43;
    background-color : rgba(255, 159, 67, 0.1);
  }
  .btn-flat-warning:active, .btn-flat-warning:focus {
    background-color : #FF9F43;
    color : #FFFFFF !important;
  }
  
  .btn-relief-warning {
    background-color : #FF9F43;
    box-shadow : inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
    color : #FFFFFF;
  }
  .btn-relief-warning:hover {
    color : #FFFFFF;
  }
  .btn-relief-warning:active, .btn-relief-warning:focus {
    outline : none;
    -webkit-transform : translateY(3px);
        -ms-transform : translateY(3px);
            transform : translateY(3px);
  }
  
  .btn-outline-warning {
    border : 1px solid #FF9F43;
    background-color : transparent;
    color : #FF9F43;
  }
  .btn-outline-warning:hover {
    background-color : rgba(255, 159, 67, 0.08);
    color : #FF9F43;
  }
  .btn-outline-warning:active {
    color : #FFFFFF !important;
  }

  
.btn-info {
    border-color : #00A1B5 !important;
    background-color : #00CFE8 !important;
    color : #FFFFFF;
  }
  .btn-info:hover {
    border-color : #00B8CF !important;
    color : #FFFFFF !important;
    box-shadow : 0 8px 25px -8px #00CFE8;
  }
  .btn-info:focus, .btn-info:active {
    color : #FFFFFF !important;
  }
  
  .btn-flat-info {
    background-color : transparent;
    color : #00CFE8;
  }
  .btn-flat-info:hover {
    color : #00CFE8;
    background-color : rgba(0, 207, 232, 0.1);
  }
  .btn-flat-info:active, .btn-flat-info:focus {
    background-color : #00CFE8;
    color : #FFFFFF !important;
  }
  
  .btn-relief-info {
    background-color : #00CFE8;
    box-shadow : inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
    color : #FFFFFF;
  }
  .btn-relief-info:hover {
    color : #FFFFFF;
  }
  .btn-relief-info:active, .btn-relief-info:focus {
    outline : none;
    -webkit-transform : translateY(3px);
        -ms-transform : translateY(3px);
            transform : translateY(3px);
  }
  
  .btn-outline-info {
    border : 1px solid #00CFE8;
    background-color : transparent;
    color : #00CFE8;
  }
  .btn-outline-info:hover {
    background-color : rgba(0, 207, 232, 0.08);
    color : #00CFE8;
  }
  .btn-outline-info:active {
    color : #FFFFFF !important;
  }
  

  .card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  

.form-label {
    font-size: 14px;
    font-weight: 500;
}

.form-control:focus {
    border-color: rgba(15, 15, 179, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px rgba(15, 15, 179, 0.6);
    outline: 0 none;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
    border-color: rgba(16, 45, 161, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px rgba(16, 45, 161, 0.6);
    outline: 0 none;
}
